body{
    background-color: #2d90ba;
    color: white;
}

h1 {
  text-shadow: 2px 2px 5px #000;
  color: white;
}

p {
  color: white;
}

span {
  color: white;
}

a {
  color: white;
}

a:hover {
    color: darkseagreen;
}