<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='indexstyle.css') }}">
    <title>ACME Car Co. - Price Estimator</title>
  </head>
  <body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ACME Car Co.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Trade-In Value Quote</a>
            <a class="nav-link" href="/graphs">Data Graphs</a>
            <a class="nav-link" href="/stats">Statistics</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Nav Bar -->
    <br>
    <!-- Main content divs-->
    <!-- Equal width cols, same on all screen sizes -->
    <div class="container w-100">
      <div class="row min-vh-100">
        <!--Left Side -->
        <div class="col">
          <br>
          <br>
          <h1 id="lblgetEstimate">Get your trade in estimate:</h1>
          <br>
          <form>
            <!--Manufacturer Dropdown-->
            <div class="form-group">
              <label for="inputGroupManufacturer"><span>Manufacturer:</span></label>
              <select class="custom-select" id="inputGroupManufacturer" required>
                {%for manufacturer in manufacturers%}
                <option value="{{manufacturer}}">{{manufacturer}}</option>
                {%endfor%}
              </select>
            </div>
            <!--end Manufacturer Dropdown-->
            <!--Year Dropdown-->
            <div class="form-group">
              <label for="inputGroupYear"><span>Year:</span></label>
              <select class="custom-select" id="inputGroupYear" required>
                <!--Can only be between 5 to 25 years old-->
                {%for year in years%}
                <option value="{{year}}">{{year}}</option>
                {%endfor%}
              </select>
            </div>
            <!--end Year Dropdown-->
            <!--Condition Dropdown-->
            <div class="form-group">
              <label for="inputGroupCondition"><span>Condition:</span></label>
              <select class="custom-select" id="inputGroupCondition" required>
                {%for condition in conditions%}
                <option value="{{condition}}">{{condition}}</option>
                {%endfor%}
              </select>
            </div>
            <!--end Condition Dropdown-->
            <!--Condition Title Status-->
            <div class="form-group">
              <label for="inputGroupTitle"><span>Title Status:</span></label>
              <select class="custom-select" id="inputGroupTitle" required>
                {%for title in titles%}
                <option value="{{title}}">{{title}}</option>
                {%endfor%}
              </select>
            </div>
            <!--end Condition Title Status-->
            <!--Condition Cylinder Count-->
            <div class="form-group">
              <label for="inputGroupCylinders"><span>Cylinder Count:</span></label>
              <select class="custom-select" id="inputGroupCylinders" required>
                {%for cylinder in cylinders%}
                <option value="{{cylinder}}">{{cylinder}}</option>
                {%endfor%}
              </select>
            </div>
            <!--end Condition Title Status-->
            <!--Condition Fuel Type-->
            <div class="form-group">
              <label for="inputGroupFuel"><span>Fuel Type:</span></label>
              <select class="custom-select" id="inputGroupFuel" required>
                {%for fuel in fuels%}
                <option value="{{fuel}}">{{fuel}}</option>
                {%endfor%}
              </select>
            </div>
            <!--end Condition Fuel Type-->
            <div class="form-group">
              <label for="formGroupMiles"><span>Mileage (Odometer):</span></label>
              <input type="text" class="form-control" id="formGroupMiles" placeholder="Miles (Odometer)" required>
            </div>
              <script>

              $( document ).ready(function() {
                console.log( "ready!" );
                var mafield = document.getElementById("inputGroupManufacturer")
                var yefield = document.getElementById("inputGroupYear")
                var cofield = document.getElementById("inputGroupCondition")
                var tifield = document.getElementById("inputGroupTitle")
                var cyfield = document.getElementById("inputGroupCylinders")
                var fufield = document.getElementById("inputGroupFuel")
                var mifield = document.getElementById("formGroupMiles")
                mafield.value = "toyota"
                yefield.value = "1998"
                cofield.value = "fair"
                tifield.value = "clean"
                cyfield.value = "4"
                fufield.value = "gas"
                mifield.value = "180000"
              });

              function estimateBTN() {
                estimatePriceLbl = document.getElementById("estimatedPrice");
                var ma = document.getElementById("inputGroupManufacturer").value
                var ye = document.getElementById("inputGroupYear").value
                var co = document.getElementById("inputGroupCondition").value
                var ti = document.getElementById("inputGroupTitle").value
                var cy = document.getElementById("inputGroupCylinders").value
                var fu = document.getElementById("inputGroupFuel").value
                var mi = document.getElementById("formGroupMiles").value
                estimatePriceLbl.style.color = "white";

                var requestData = {"manufacturer": ma,"year": ye,"condition": co,"title": ti,"cylinder": cy,"fuel": fu,"mileage": mi}

                var myHeaders = new Headers();
                myHeaders.append('Content-Type', 'application/json');

                var myInit = { method: 'POST',
                               body: JSON.stringify(requestData),
                               headers: myHeaders,
                               mode: 'cors',
                               cache: 'default' };

                const request = new Request('/predict', myInit);

                const url = request.url;
                const method = request.method;
                const credentials = request.credentials;

                fetch(request)
                  .then(response => {
                    if (response.status === 200) {
                      return response.json();
                    } else {
                      throw new Error('Something went wrong on api server!');
                    }
                  })
                  .then(response => {
                    console.debug(response);
                    estimatePriceLbl.style.color = "green";
                    estimatePriceLbl.innerHTML = response.value
                  }).catch(error => {
                    console.error(error);
                  });
              }


              </script>
            <button type="button" class="btn btn-success" onclick="estimateBTN()">Get My Estimate</button>
          </form>
          <br>
          <p>About this tool: This tool uses a machine learning algorithm known as "Multiple Linear Regression" to estimate
          a fair value trade in price for used vehicles. It is trained on a modern dataset provided by Kaggle.com and
            retrieved from Craigslist.</p>
        </div>
        <!--End left side-->
        <!--Right side-->
        <div class="col align-self-center h-100" align="center">
          <h1 id="lblEstimate">Your trade in value estimate:</h1>
          <h1 id="estimatedPrice">$0.00</h1>
        </div>
        <!--End right side-->
      </div>
    </div>
    <!-- End main content divs-->
  </body>
</html>