{% extends 'base.html' %}

{% block content %}
<div class="container w-100">
  <div class="row min-vh-100 align-items-center">
    <table width=100% height=100% cellpadding="15">
      <tr><th bgcolor="#343a40"><h1>Stat</h1></th><th bgcolor="#343a40"><h1>Value</h1></th></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>
      <tr><td><h3>Number of predictions:</h3></td><td><h3>{{numPredictions}}</h3></td></tr>

    </table>
  </div>
</div>
{% endblock %}